
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family:"Inter", sans-serif;
}

/* <!--we can storea value once and reuse it everywhere root is the varaible in css  we uses with varfunation  -- > */
:root{ 
    --color-primary: #5C56E1;
    --color-primary-dark: #5b21b6;
    --color-accent:#885CF6;
    --color-card:#FFFFFF;
    --color-input:#F1F1FF;
    --color-text:#09090E;
    --color-placeholder:#5C5A87;
    --color-border:#D4D4ED;
    --color-gradent:linear-gradient(to right,#5C56E1,#8B5CF6);

}
body.dark-theme {
  --color-card: #1E293B;
  --color-input: #141B2D;
  --color-text: #F3F4F6;
  --color-placeholder: #A3B6DC;
  --color-border: #334155;

  background: var(--color-card);
  background-image: radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.15) 0%, transparent 35%),
radial-gradient(circle at 85% 30%, rgba(139, 92, 246, 0.15) 0%, transparent 35%),
 radial-gradient(circle at 50% 80%, rgba(99, 102, 241, 0.1) 0%, transparent 40%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
    color: var(--color-text);
    background: linear-gradient(to right ,#6a65d7,#86A8E7);
}

.container{
    background: var(--color-card);
    width: 900px;
    position: relative;
    overflow: hidden;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0,0.1);
}
body.dark-theme .container{
    border:1px solid var(--color-border);
}
.container::before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgb(59, 59, 248);
}
.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.header .logo-wraper{
    display: flex;
    gap: 18px;
    align-items: center;
}
.header .logo-wraper .logo{
    height: 55px;
    width: 56px;
    display: flex;
    color: #fff;
    font-size: 1.35rem;
    flex-shrink: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right ,#6a65d7,#86A8E7);
}
.header .theme-toggle{
    height: 43px;
    width: 43px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-placeholder);
    display: flex;
    align-items:center;
    justify-content: center;
    background: var(--color-input);
    border:1px solid var(--color-border);
    transition: all 0.3s ease;

}
.header .theme-toggle:hover{
    color: var(--color-primary);
    transform: translate(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0,0.1);
}
.main-content{
    margin: 35px 0 5px;
}
.main-content .prompt-container{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.prompt-container .prompt-input{
    width: 100%;
    resize: vertical;
    line-height: 1.6;
    font-size: 1.05rem;
    min-height: 120px;
    padding: 16px 20px;
    border-radius: 15px;
    color: var(--color-text);
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}
.prompt-container .prompt-input::placeholder{
    color: var(--color-placeholder);
}
.prompt-container .prompt-input:focus{
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 4px rgba(139, 92, 0,0.15);
}
.prompt-container .prompt-btn{
    position: absolute;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
     border: none; 
    color: #fff;
    border-radius: 50%;
    opacity: 0.8;
     background: rgb(118, 118, 230);
    transition: all 0.3s ease; 
} 
.prompt-container .prompt-btn:hover{
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0,0.1);
}
.main-content .prompt-action{
    display: grid;
    gap: 10px;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;
}
.prompt-action .select-wraper{
    position: relative;
}

.prompt-action  .select-wraper::after{
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 0.9rem;
    padding-left: 7px;
    pointer-events: none;
    background: var(--color-input);
    color: var(--color-placeholder);
    transform: translateY(-50%);

}

.prompt-action :where(.custom-select, .generate-btn){
    cursor: pointer;
    background: var(--color-input);
    border: 1px solid var(--color-input);
    border-radius: 10px;
    font-size: 1rem;
    padding: 12px 20px;
    transition: all 0.3s ease;
} 
.prompt-action .custom-select{
    width: 100%;
    outline: none;
    height: 100%;
    appearance: none;
    color: var(--color-text);
}
.prompt-action .custom-select:is(:focus,:hover){
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px rgba(139, 92, 246,0.1);
}
.prompt-action .generate-btn{
    display: flex;
    gap: 12px;
    font-weight: 500;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border: none;
    color: #fff;
    background: var(--color-gradent);
}
.prompt-action .generate-btn:hover{
    transform: translateY(-2px);
}


.main-content .gallery-grid:has(.img-card){
    margin-top: 30px;

}
.main-content .gallery-grid{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    

}
.gallery-grid .img-card{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 16px;
    background: var(--color-input);
    border:1px solid var(--color-border);
    transition: all 0.5s ease;
}
.gallery-grid .img-card:not(.loading, .error):hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0,0, 0,0.1);
}

.gallery-grid .img-card .result-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.gallery-grid .img-card:is(.loading ,.error) :is(.result-img,.img-overlay){
display: none;
}
.gallery-grid .img-card .img-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    justify-content: flex-end;
    background: linear-gradient(transparent ,rgba(0,0,0,0.8));
    display: flex;
    transition: all 0.5s ease;
}
.gallery-grid .img-card:hover .img-overlay{
    opacity: 1;
    pointer-events: auto;
}
.gallery-grid .img-card .img-overlay .img-dowland-btn{
    height: 45px;
    width: 45px;
    color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    cursor: pointer;
    border:none;
    background: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;

}
.gallery-grid .img-card .img-overlay .img-dowland-btn:hover{
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.4);
    
}
.gallery-grid .img-card .status-container{
    padding: 15px;
    display: none;
    gap:13px;
    flex-direction: column;
    align-items: center;
}
.gallery-grid .img-card:where(.loading ,.error) .status-container{
    display: flex;

}
.gallery-grid .img-card.loading .status-container i,
.gallery-grid .img-card.error .spinner {
    display: none;
}
.gallery-grid .img-card.error .status-container i {
    font-size: 1.7rem;
    color: #ef4444;
}
.gallery-grid .img-card.loading .spinner{
    width: 35px;
    height: 35px;
    border-radius:50% ;
    border: 3px solid var(--color-border);
    border-top-color: var(--color-primary);
    animation:spin 1s linear infinite;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
     }
} 
.gallery-grid .img-card .status-text{
    font-size: 0.85;
    text-align: center;
    color: var(--color-placeholder);
}